[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim-sensible"]
	path = vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim-puppet"]
	path = vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "syntastic"]
	path = syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "tagbar"]
	path = tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "Dockerfile"]
	path = Dockerfile
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
